.search-tag-input-field {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
}
.search-tag-input-field:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
}
